<div class="content">
  <h2>
    @if (login) {
      Log in
    } @else {
      Register
    }
  </h2>
  <form nz-form [formGroup]="authForm" nzLabelAlign="right">
    <nz-form-item>
      <nz-form-label nzRequired>Username</nz-form-label>
      <nz-form-control>
        <nz-form-control
          [nzValidateStatus]="
            !login &&
            authForm.controls.username.dirty &&
            authForm.controls.username.invalid
              ? 'error'
              : 'success'
          "
          nzErrorTip="Username must be at least 5 characters long."
          [nzSm]="24"
          [nzXs]="24"
        >
          <input
            nz-input
            formControlName="username"
            placeholder="Username"
            type="text"
          />
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Password</nz-form-label>
      <nz-form-control>
        <nz-form-control
          [nzValidateStatus]="
            !login &&
            authForm.controls.password.dirty &&
            authForm.controls.password.invalid
              ? 'error'
              : 'success'
          "
          nzErrorTip="Password must be at least 5 characters long."
          [nzSm]="24"
          [nzXs]="24"
        >
          <input
            nz-input
            formControlName="password"
            placeholder="Password"
            type="password"
          />
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
    @if (login) {
      <button nz-button (click)="authenticate()">Log in</button>
      <p>
        Don't have an account yet? <a routerLink="/register">Register here.</a>
      </p>
    } @else {
      <button nz-button (click)="authenticate()">Register</button>
      <p>Already registered? <a routerLink="/login">Log in here.</a></p>
    }
  </form>
</div>
