<div class="content">
  <h2>Create parcel</h2>
  <form nz-form [formGroup]="parcelForm" nzLabelAlign="right">
    <nz-form-item>
      <nz-form-label nzRequired>Parcel size</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="size">
          <nz-option [nzValue]="ParcelSize.XS" nzLabel="XS"></nz-option>
          <nz-option [nzValue]="ParcelSize.S" nzLabel="S"></nz-option>
          <nz-option [nzValue]="ParcelSize.M" nzLabel="M"></nz-option>
          <nz-option [nzValue]="ParcelSize.L" nzLabel="L"></nz-option>
          <nz-option [nzValue]="ParcelSize.XL" nzLabel="XL"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    @if (parcelForm.controls.senderEmail) {
      <nz-form-item>
        <nz-form-label nzRequired>E-mail</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="emailError">
          <input
            nz-input
            placeholder="user@example.com"
            formControlName="senderEmail"
          />
          <ng-template #emailError>
            @if (parcelForm.controls.senderEmail.errors?.['email']) {
              Please input a valid e-mail!
            }
            @if (parcelForm.controls.senderEmail.errors?.['required']) {
              Please input your e-mail!
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    }
    <nz-form-item>
      <nz-form-label nzRequired>Recipient e-mail</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="emailError">
        <input
          nz-input
          placeholder="user@example.com"
          formControlName="receiverEmail"
        />
        <ng-template #emailError>
            @if (parcelForm.controls.receiverEmail.errors?.['email']) {
              Please input a valid e-mail!
            }
            @if (parcelForm.controls.receiverEmail.errors?.['required']) {
              Please input the recipient's e-mail!
            }
          </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Dispatch point</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Please choose a dispatch point!">
        <nz-select formControlName="startLocationId">
          @for (location of locations; track location.id) {
            <nz-option
              nzCustomContent
              [nzValue]="location.id"
              [nzLabel]="location.address"
              [nzDisabled]="location.capacity == 0"
            >
              <span
                nz-tooltip
                [nzTooltipTitle]="
                  location.capacity == 0
                    ? 'This location currently cannot accept any more parcels.'
                    : undefined
                "
                nzTooltipPlacement="right"
              >
                {{ location.address }}
              </span>
            </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Pick-up point</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Please choose a pick-up point!">
        <nz-select formControlName="endLocationId">
          @for (location of locations; track location.id) {
            <nz-option
              nzCustomContent
              [nzValue]="location.id"
              [nzLabel]="location.address"
              [nzDisabled]="location.capacity == 0"
            >
              <span
                nz-tooltip
                [nzTooltipTitle]="
                  location.capacity == 0
                    ? 'This location currently cannot accept any more parcels.'
                    : undefined
                "
                nzTooltipPlacement="right"
              >
                {{ location.address }}
              </span>
            </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
  <button nz-button (click)="createParcel()">Create parcel</button>
</div>
